<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->


<div id='BODY_CONTENT' align='center'>
<h1>New Interaction</h1>

<%= render 'form', interaction: @interaction %>

<%= link_to 'Back', interactions_path %>   
</div>

