<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<h1>Editing Property</h1>

<div id='BODY_CONTENT'>
    <h1>Edit Property</h1>
    <br>
    <%= render 'form', property: @property %>
</div>
