<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->


<div id='BODY_CONTENT' align='center'>
    <h1>New Property</h1>
    <small> <font color='#ff0000'>*</font>Please create a new address and contact from the "Create New" menu in the "Links" panel before creating a new property. </small>    
<br><br>
    <%= render 'form', property: @property %>
</div>

