<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<h1>Editing Prop Doc</h1>

<%= render 'form', prop_doc: @prop_doc %>

<%= link_to 'Show', @prop_doc %> |
<%= link_to 'Back', prop_docs_path %>
