<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<h1>Editing Investor Pref</h1>

<%= render 'form', investor_pref: @investor_pref %>

<%= link_to 'Back', home_path %>
