<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->


<div id='BODY_CONTENT' align='center'>
    <h1>New Investor Pref</h1>
    <br>
    <%= render 'form', investor_pref: @investor_pref %>
</div>

<%= link_to 'Back', investor_prefs_path %>
