<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<div id='BODY_CONTENT'>
    <h1>Edit Contact</h1>
    <br>
    <%= render 'form', contact: @contact %>
</div>

