
<div id='BODY_CONTENT' align='center'>
<h1>New Contact</h1>
<small> <font color='#ff0000'>*</font>
You must create a new Contact before creating a new Property or Business. </small>    
<br>
<br>
    <%= render 'form', contact: @contact %>
</div>

