<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<h1>CRM Equity Solutions Guide</h1>
<br>
<h4>Here we will go through all the steps for using CRM Equity Solutions</h4>

<p>On the splash screen, the user can create a new account by hitting "Sign Up" at the top of the page or if they have an account,
they can hit "Log In". Registering requires an email address and a password. An error will occur if the email is not
in the proper format or if the password is not at least 6 characters long.</p>

<p>Once in the app, the user should see a list of tables (properties and contacts) and links. Clicking on one of the tables
will show that table on the home screen. Clicking "Create New" under links will reveal more links to information that can
be added. The user should first add an address and a contact that can be used to link to all the other information. Once a
contact and address have been created, the user can create a property and add all available information to it as well
as add a new interaction, investor preference, add a business card to a contact, or create a business. The user can also get 
information about a property from Zillow. They can decide what information they want by clicking "Zillow Preferences" at the 
top of the page and selecting the information they want to see. This information is displayed when the user clicks on the 
property to see more information.</p>

<p>All of the created properties and contacts will be displayed in the main table on the home page along with additional information
about each. The user can click on the row in order to get more info on the property or click on a specific field within the row
to get more specific information about that field. For a property, the user can also add images, see which investor's preferences
match it, and edit or delete the property by clicking the proper button. For a contact, the user can add a business card to that contact 
or edit or delete it by clicking the proper button. The user also has the ability to search through their contacts or properties
using either simple or advanced search. Simple search will search all the information about either the contact or property
and return the ones that fit the search. Advanced search allows the user to specify which specific category to search in.</p>

<p>Another feature is the template editor. The user can click "Template Editor" under links in order to bring up the text editor. 
Here, the user can type a message to either a home owner or client with information that will automatically be filled based on the 
properties and contacts they have. Users have access to features such as making the text bold, underlined, or italic, and they can 
also change the font type, size, and alignment. If a user wants information to be auto filled, they can use the "Attributes" dropdown 
to select the data they want to add. The user can preview their template using the preview button and save it by using the Create 
Template button. After the template has been saved, the user can send this template by clicking "Send a Template" at the top of the 
page. Note: the user must have a property created for this to work. They can then select the person they want to send it to by 
choosing the property linked to the contact information of that person and hitting send. This will automatically send an email to 
that person in the form of the template the user created with all the atributes automatically filled.</p>

<p>The user can change their password by clicking on their email address on the top right of the screen or they can logout by clicking 
the logout button.</p>
<br>
<h4>FAQs</h4>
<p>Q: There's an empty screen when I click one of the Create New links.</p>
<p>A: Just refresh the page and try again.</p>
<hr>
<p>Q: I clicked "Send a Template" and the site crashed</p>
<p>A: This means you haven't created a property yet</p>
<hr>
<p>Q: What is this giant grey box above the properties?</p>
<p>A: This is a map view of all the properties. Hit the full screen button on the top right to get it to load.</p>
<hr>
<p>Q: What is an investor pref?</p>
<p>A: An investor pref allows the user to set specific information that they know an investor is looking for
in a property. They can then use the "Match" button to see which of their properties fits what each investor
is looking for.</p>
<hr>
<p>Q: Can I change the values I see on the home page?</p>
<p>A: Unfortunately, you cannot customize the values you see right now however that is something we plan to
work on in the future.</p>
<hr>
<button>
    <a class="nav-link" href="home">Home</a>
</button>
<footer>
    <br>
</footer>