<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<div id='BODY_CONTENT' align='center'>
<h1>New Address</h1>
<small> <font color='#ff0000'>*</font>
You must create a new address before creating a Contact, Property, or Business. </small>    
<br>
<br>
    <%= render 'form', address: @address %>
</div>


