<div id='BODY_CONTENT' align='center'>
<h1>New Address</h1>
<small> <font color='#ff0000'>*</font>
You must create a new address before creating a Contact, Property, or Business. </small>    
<br>
<br>
    <%= render 'form', address: @address %>
</div>


