<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<h1>Edit Zillow Preferences</h1>

<%= render 'form', zillow_pref: @zillow_pref %>

<%= link_to 'Back', home_path %>
