<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<h1>Editing Rental Unit</h1>

<%= render 'form', rental_unit: @rental_unit %>

<%= link_to 'Show', @rental_unit %> |
<%= link_to 'Back', rental_units_path %>
