<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->

<!DOCTYPE html>
<head>
  <title>CRM Splash Screen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container {
    padding-left :0px;
    padding-right :0px;
    margin-left: 0px;
    width: 100%; 
    height: 100%;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 5px;
      padding-right: 20px;
      padding-left: 20px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .img-rounded{
    padding-right:0px;
  }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CRM</a>
    </div>
      <div class="nav navbar-nav navbar-right">
        <li><a href="users/sign_up">Sign Up</a></li>
        <li><a href="home">Login</a></li>
      
      </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">CRM Equity Solutions</h3>
  <img src="https://i.imgur.com/lcXTsUr.png" class="img-responsive img-rounded" alt="Logo not found" style="display:inline">
  <h3>The real estate investor's toolbox</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">About</h3>
          <p>CRM Equity Solutions is an organizational and task management tool designed to help wholesale property buyers document property information and easily send information to investors and homeowners. Right now, these wholesale buyers are wasting hours and hours of work hand-copying data into disorganized Excel spreadsheets and editing hundreds of postcards individually by hand. With our tool, the property data will automatically be added to a database, the user will be notified if specific property data fits criteria established by an investor, and it will quickly and easily create emails and postcards to send to the investors and homeowners.</p>
          
          <p>Client: Tori Patterson</p> 
          <p>Coded by: Mitchell Berger, Talha Koc, Noah Over</p>
          <p>Duke University CompSci 408</p>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>CRM Equity Solutions, © 2017</p> 
</footer>

</body>
</html>
