<%# app/views/application/index.html.erb %>
<html> 
<div id="root"></div>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <div class="jumbotron">
        <h1>CRM Equity Solutions</h1> 
        <p>CRM Equity Solutions is an organizational and task management tool designed to help wholesale property buyers document property information and easily send information to investors and homeowners. Right now, these wholesale buyers are wasting hours and hours of work hand-copying data into disorganized Excel spreadsheets and editing hundreds of postcards individually by hand. With our tool, the property data will automatically be added to a database, the user will be notified if specific property data fits criteria established by an investor, and it will quickly and easily create emails and postcards to send to the investors and homeowners.</p> 
      
      <div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <a href="/home" button class="btn btn-primary btn-lg" id="singlebutton"> Enter!</a>
    </div>
  </div>
</div>
    </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>