<!-- Authored by: Mitchell Berger, Talha Koc, and Noah Over for COMPSCI 408 at Duke University for Tori Patterson -->


<div id='BODY_CONTENT' align='center'>
<h1>New Community</h1>
<br>
<%= render 'form', community: @community %>
</div>
<%= link_to 'Back', communities_path %>
