<!DOCTYPE html>
<html>
    <head>
      <title>Workspace</title>
      <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                  <div class="navbar-header">
                  </div>
                    <nav>
                        <ul class="nav pull-right">
                            <li><a href= "/">Home</a></li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropbtn">Databases</a>
                                  <div class="dropdown-content">
                                    <a href="/addresses">Addresses</a>
                                    <a href="/contacts">Home Owners</a>
                                    <a href="/investor_prefs">Investor Preferences</a>
                                    <a href="/communities">Community Info</a>
                                    <a href="/interactions">Interactions</a>
                                    <a href="/properties">Properties</a>
                                    <a href="/transactions">Transactions</a>
                                    <a href="/businesses">Businesses</a>
                                    <a href="/prop_docs">Property Documents</a>
                                    <a href="/rental_units">Rental Units</a>
                                  </div>
                            </li>
                            <li><a href= "#">Forms</a></li>
                           <li><a href= "abouts">Contact Info</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>